@model IEnumerable<Task_Day09.Models.Trainee>
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment envObject

@{
    ViewData["Title"] = "Index";
}

<h1>Environment Name: @envObject.EnvironmentName</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-active table-group-divider">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TraineeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrTrack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TraineeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrTrack.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.course.Topic)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.TraineeId" class="btn btn-outline-info">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TraineeId" class="btn btn-outline-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TraineeId" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
