@model ITIDbEFCorePowerTool.Models.Instructor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Instructor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ins_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ins_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ins_Degree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ins_Degree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept_)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept_.Dept_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Ins_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
