@model ITIDbEFCorePowerTool.Models.Department

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept_Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept_Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept_Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept_Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager_hiredate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager_hiredate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dept_ManagerNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dept_ManagerNavigation.Ins_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Dept_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
