@page "/traineedetails/{TraineeID:int}"
@*@page "/traineedetails/{TraineeID}"*@

@if(CurrTrainee != null && tracks != null)
{
<h3>TraineeDetails for @CurrTrainee.Name</h3>
<div class="form-group row">
    <label class="col-form-label"> Trainee ID</label>
    <label class="form-control"> @CurrTrainee.TraineeID </label>
</div>

<div class="form-group row">
    <label class="col-form-label">Name </label>
    <label class="form-control"> @CurrTrainee.Name </label>
</div>

<div class="form-group row">
    <label class="col-form-label"> Birthdate </label>
    <label class="form-control"> @CurrTrainee.BirthDate.ToString("dd/MM/yyyy")</label>
</div>

<div class="form-group row">
    <label class="col-form-label"> Email </label>
    <label class="form-control"> @CurrTrainee.Email </label>
</div>

<div class="form-group row">
    <label class="col-form-label"> Phone Number </label>
    <label class="form-control"> @CurrTrainee.MobileNo </label>
</div>

<div class="form-group row">
    <label class="col-form-label"> Gender </label>
    <label class="form-control"> @CurrTrainee.Gender </label>
</div>

<div class="form-group row">
    <label class="col-form-label"> Track </label>
    <label class="form-control"> @tracks.FirstOrDefault(t=> t.TrackID == CurrTrainee.TrackID)?.Name </label>
</div>

<div class="form-group row">
    <label class="col-form-label"> IsGraduated </label>
    <label class="form-control"><input type="checkbox" checked="@CurrTrainee.IsGraduated" disabled /> </label>
</div>
}