
@{
    ViewBag.Title = "myErrorPage";
}

<h2>myErrorPage</h2>
<h3 style="color:green">******** Finance custom error page in Finance ********</h3>
<h4 style="color:grey">Error message is : @Model.Exception.Message</h4>
<h4 style="color:grey">Error type is : @Model.Exception.GetType()</h4>
<h4 style="color:grey">Error data is : @Model.Exception.Data</h4>
<h4 style="color:grey">Controller name is : @Model.ControllerName</h4>
<h4 style="color:grey">Controller action is : @Model.ActionName</h4>
